__pycache__/
jsons/matches.json
jsons/rankings.json
jsons/teamPredictor.json
jsons/stdTeamPredictor.json
jsons/fetchedData.json
jsons/rankings.json
jsons/matches.json
jsons/avgs.json
jsons/avgs.csv
jsons/teamPredictor1.json